<div class="card-box stepper-box">
    <a href="#" class="mb-3" style="color: #000"> <i class="fa fa-chevron-left"></i> Skip </a>
    <div class="stepper">

        <svg id="animated" viewbox="-10 0 120 100">

          <circle cx="50" cy="50" r="45" fill="#FFF"/>

          <path id="" stroke-linecap="round" stroke-width="5" stroke="#eff3fb" fill="none"
                d="M50 10
                   a 40 40 0 0 1 0 80
                   a 40 40 0 0 1 0 -80">
          </path>

          <path id="progress" stroke-linecap="round" stroke-width="5" stroke="#36b37e" fill="none"
                d="M50 10
                   a 40 40 0 0 1 0 80
                   a 40 40 0 0 1 0 -80">
          </path>

          <text id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="20">100%</text>

        </svg>


    </div>

    <h4 class="text-center mb-4"> Company Setup </h4>

    <div class="steps-menu">

            <div class="custom-control custom-radio mb-3">
                <input checked="checked" [routerLink]="['/location/addlocation']" type="radio" id="customRadio1" name="customRadio1" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Company Info</label>
                <span> Company locations, brand colors and logo settings. </span>
            </div>
            

            <div class="custom-control custom-radio mb-3">
                <input type="radio" id="customRadio2" [routerLink]="['/location/recivers']" name="customRadio2" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2"> Recievers </label>
                <span> Add receivers data for your shipments. </span>
            </div>


            <div class="custom-control custom-radio mb-3">
                <input type="radio" [routerLink]="['/location/packages']" id="customRadio3" name="customRadio3" class="custom-control-input">
                <label class="custom-control-label" for="customRadio3"> Packages </label>
                <span> Add your company packages and sizes. </span>
            </div>


            <div class="custom-control custom-radio mb-3">
                <input type="radio" id="customRadio4"  [routerLink]="['/location/contracts']" name="customRadio4" class="custom-control-input">
                <label class="custom-control-label" for="customRadio4"> Contracted Fleets </label>
                <span> Add all fleets you have contracted with. </span>
            </div>

            
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio5" [routerLink]="['/location/users']" name="customRadio5" class="custom-control-input">
                <label class="custom-control-label" for="customRadio5"> Users </label>
                <span> Add your partners with privileges for everyone. </span>
            </div>

    </div>


</div> <!-- card-box -->